@charset "utf-8";

html {
    color: white;
    background-color: #1c87c9;
}

img {
    padding: 10px;
    border: solid 3px blue;
    
    width: 120px;
    height: 210px;
}

th {
    text-align: left;
}

table {
    width: 600px;
}

table, th, td {
    font-weight: normal;
    background-color: lightblue;
    color: black;
    border: solid 1px black;
    border-collapse: collapse;
}

th {
    padding: 10px
}

th:first-of-type {
    font-weight: bold; 
    text-align: center;
}


.center {
    padding: 10px 0px;
    text-align: center;
}

.listPad {
    padding-left: 10px;
}

caption {
    color: white;
    font-family: Trattatello, fantasy;
}

a {
    text-decoration: none;
    color: black;
    font-family: Trattatello, fantasy;
}

a:hover {
    color: rgb(255, 0, 0)
}